@using Entities.Concrete
@model UserOperationClaim


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



@*<div class="row mt-4">
    <div class="col-md-4 offset-4">
        @using (Html.BeginForm("Update", "UserOperationClaim", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)
            <br />
            @Html.Label("Kullanıcı")
            @Html.TextBoxFor(x => x.UserId, new { @class = "form-control" })
            <span>@Html.ValidationMessageFor(x => x.UserId)</span>
            @Html.Label("Operaasyon")
            @Html.TextBoxFor(x => x.OperationClaimId, new { @class = "form-control" })
            <span>@Html.ValidationMessageFor(x => x.OperationClaimId)</span>
            <br />
            <hr />
            <button class="btn btn-primary">GÜNCELLE</button>
            <h2 class="text-danger">@TempData["Hata"]</h2>
        }
    </div>
</div>*@


<div class="row" id="table-head">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">User Operation Ekleme Sayfası</h4>
            </div>
            <form asp-action="Update" asp-controller="UserOperationClaim" method="post" class="login100-form validate-form">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>User Operation Adı</td>
                                <td>
                                    <input class="input100" type="text" asp-for="UserId">
                                    <span asp-validation-for="UserId" class="text-danger"></span>
                                </td>
                                <br />

                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    <input class="input100" type="text" asp-for="OperationClaimId">
                                    <span asp-validation-for="OperationClaimId" class="text-danger"></span>
                                </td>

                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">KAYDET </button>

                                </td>
                                @TempData["Hata"]
                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
