@using Entities.Concrete
@model List<OperationClaim>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"  />


@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@


@*@foreach (var item in Model)
{
    <div class="col-md-3">
        <table class="table">
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/OperationClaims/Delete/@item.Id">Sil</a>
                </td>

                <td>
                    <a href="/OperationClaims/Update/@item.Id">Düzenle</a>
                </td>
            </tr>

        </table>
    </div>

}*@



<!-- Table head options start operation claims -->
@*<div class="row" id="table-head">*@
<div class="col-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Operation Claims Listesi</h4>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>
                            <a class="btn btn-primary" asp-controller="OperationClaims" asp-action="Add"><i class="fa-solid fa-plus"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a href="/OperationClaims/Update/@item.Id" class="btn btn-warning">Düzenle</a>
                                <a href="/OperationClaims/Delete/@item.Id" class="btn btn-danger">Sil</a>
                       </td>




                        </tr>
                    }
                   @TempData["RolSilHata"]
                </tbody>
            </table>
        </div>
    </div>

</div>
@*</div>*@
<!-- Table head options end -->
