@using Entities.Concrete
@model OperationClaim

@{
    Layout = null;

}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



<div class="row mt-4">
    <div class="col-md-4 offset-4">
        @using (Html.BeginForm("Update", "OperationClaims", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)
            <br />
            @Html.Label("Operation İsmi")
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            <span>@Html.ValidationMessageFor(x => x.Name)</span>
            <br />
            <hr />
            <button class="btn btn-success">Güncelle</button>
            <h2 class="text-danger">@TempData["Hata"]</h2>
        }
    </div>
</div>

<span>@Html.ValidationMessageFor(x => x.Name)</span>